<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Генератор паролей</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <p class="description-text">
        Генератор паролей - это простой веб-сайт, который генерирует случайный пароль на основе выбранных пользователем критериев.
        Пользователь может выбирать между прописными буквами, специальными символами и цифрами.
        Кроме того, пользователь может выбрать длину сгенерированного пароля.
        Приложение будет запускаться в браузере и содержать динамически обновляемые HTML и CSS, основанные на коде Django.
    </p>
    <p class="back-link"><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>
