{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="welcome-message">
        <h1>Добро пожаловать в наше туристическое агентство!</h1>
        <p>Мы предлагаем туры в самые разные страны, в удивительные уголки планеты, и на лучшие курорты. У нас Вы сможете найти отдых на свой вкус.</p>
        <p>Мы предлагаем Вам не только выбрать тур по заданным параметрам, но и ознакомиться с полезной информацией, которая поможет Вам собраться в поездку, сориентироваться в чужой стране, и провести время с удовольствием и пользой.</p>
        <p>Мы работаем как с частными, так и с корпоративными клиентами, а также с агентствами, предлагаем самые различные варианты отдыха.</p>
        <p>Вы хотите провести свой отпуск в Хургаде, Шарм-эль-Шейхе или на других мировых курортах и полноценно отдохнуть? Тогда к вашим услугам наш магазин горящих путевок в ВАШ ГОРОД, который предлагает высококачественный отдых по минимальным ценам! Чтобы оказаться на теплом пляже у ласкового моря уже завтра, рекомендуем посетить наш сайт или один из сети магазинов и приобрести туры на все известные курорты Египта, Турции и других стран!</p>
    </div>
    <div class="background-image" style="background-image: url('{{ background_image_url }}');"></div>
{% endblock %}
