<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>О проекте</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background-image: url('{% static 'img/bg.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-position: center">
    <h1 class="header-about">О проекте</h1>
    <div class="header-about-item">
        <p>Добро пожаловать в мое погодное приложение! Здесь вы можете узнавать актуальную
        погоду в любом городе мира.<br>Проект создан для практики работы с Django и демонстрации возможностей
        веб-разработки.<br></p>
    </div>
    <p class="text-item">Здесь я разрабатываю погодное приложение, используя HTML, CSS для интерфейса серверной
        части
            используя структурированную методологию. Я использую OpenWeatherMap API для получения подробной
            информации о погоде.</p>

        <b class="text-item">Цель проекта Weather</b> - <p class="text-item">Разработка и внедрение
        эффективной и
        удобной для
        пользователя
            системы, которая
            помогает пользователю узнавать о погоде в любом городе, используя только его название и возможность
        планировать свои действия на основе ожидаемых погодных условий.</p>
        <ul><strong>Основные цели проекта:</strong>
            <li>Удобный интерфейс</li>
            <li>Точная информация о погоде</li>
            <li>Быстрая выборка данных</li>
        </ul>
        <ul><strong>Взаимодействие:</strong>
            <li>Пользователь: Атрибуты Идентификатор пользователя (первичный ключ)</li>
            <li>Атрибуты города: название города (первичный ключ), значение ключа API.</li>
            <li>Подробная информация о погоде: Параметры: Температура, Скорость ветра, Описание погоды, Влажность.</li>
        </ul>
        <ul><strong>Отношение:</strong>
            <li>Входит: Пользователь вводит название города в приложении.</li>
            <li>Возврат: API возвращает список сведений о погоде, включающий температуру, скорость ветра, влажность и
                другие сведения о погоде</li>
        </ul>
        <p class="text-item">Погодное приложение может предложить множество преимуществ, но также может иметь определенные
            ограничения. Вот некоторые потенциальные ограничения, связанные с такой системой:</p>
        <ul><strong>Ограничения:</strong>
            <li>Надежность: Точность информации о погоде в значительной степени зависит от надежности источника данных. Если приложение полагается на один источник, расхождения или неточности в этом источнике могут повлиять на достоверность данных о погоде.</li>
            <li>Зависимость от внешних API: если приложение использует сторонние API для получения данных о погоде, это зависит от доступности и производительности этих API. Время простоя или изменения во внешнем сервисе могут повлиять на функциональность приложения.</li>
        </ul>
    <a class="button_a" href="{% url 'home' %}">Вернуться на Главную</a>
</body>
</html>
