<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Новости</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background-image: url('{% static 'img/bg.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-position: center">
    <h1 class="header-news">Новости</h1>
    <p class="header-news-item">Здесь вы найдете последние новости о погоде.</p>
    <p class="text-item">
        <strong>Рекордные осадки вызвали внезапные наводнения в Испании. Они привели к десяткам жертв, огромным
            разрушениям и экономическим потерям.</strong>
    </p>
    <p class="text-item" style="text-indent: 25px;">
        Рекордные осадки вызвали внезапные наводнения в Испании. Они привели к десяткам жертв, огромным разрушениям и экономическим потерям.
    Больше всего пострадал регион Валенсия, во многих местах выпало более 300 мм осадков (л/м²). 29/30 октября на метеостанции в Чиве зафиксирована сумма 491 мм (л/м²) всего за восемь часов — эквивалент годовой нормы осадков
    </p>
    <p class="text-item" style="text-indent: 25px;">
        Масштабная спасательная операция и операция по оказанию помощи были развернуты, когда число погибших превысило 150 человек. На снимках видно, как людей уносит в машинах и бурлящими потоками смертоносной воды. Десятки тысяч людей в Валенсии остались без электричества, а транспортное сообщение было нарушено. Правительство Испании объявило трехдневный национальный траур.
    </p>
    <p class="text-item"><strong>Атлантические циклоны принесут штормовую погоду на юг России</strong></p>
    <p class="text-item" style="text-indent: 25px;">
        На юге Европейской России ноябрь начался прохождением холодного атмосферного фронта, доставившего дожди различной интенсивности и сильный порывистый ветер...
    </p>
    <p class="text-item" style="text-indent: 25px;">1 - ночью 2 ноября в Краснодарском крае отмечался сильный дождь, оставивший до 21 мм осадков. Минувшей ночью в Калмыкии ветер достигал 22 м/с.
    </p>
    <p class="text-item" style="text-indent: 25px;">
    Очередной «ныряющий» циклон из Атлантики сохранит на юге России сложные погодные условия. 2-4 ноября в Краснодарском крае продолжатся сильные осадки в виде дождя, мокрого снега, штормовой ветер составит 20-25 м/с, 2 ноября разгонится до 27 м/с.  Сегодня и завтра ожидается ливневый дождь с грозой, 3-4 ноября вероятно налипание мокрого снега.
    </p>
    <p class="text-item" style="text-indent: 25px;">
    В Ростовской области сегодня ветер усилится до 22-27 м/с, в Астраханской – до 23 м/с, в Калмыкии – до 22 м/с.  3 ноября в Ростовской области намечаются сильные осадки в виде дождя и мокрого снега, 4 ноября ветер достигнет 24 м/с. Волгоградскую область 2-3 ноября накроет штормовой ветер со скоростью 23-28 м/с, а 4-5 ноября пройдут сильные дожди, переходящие в мокрый снег  с налипанием  на провода и деревья. 2-4 ноября в Астраханской области также пройдут осадки в виде дождя, переходящего в мокрый снег и снег, 5 ноября они будут сильными.
    </p>
    <p class="text-item" style="text-indent: 25px;">
    В Крыму 3-5 ноября дождливо и ветрено. Дожди пройдут ночью в воскресенье, днём в понедельник и ночью во вторник. 2-3 ноября ветер достигнет 25 м/с, 4-5 ноября 17-22 м/с.  Температура воздуха понизится к 5 ноября ночью до -3…+2, днём – до +4…+9 градусов.
    </p>
    <p class="text-item" style="text-indent: 25px;">
        Неустойчивый характер погоды будет наблюдаться и на Северном Кавказе: осадки, в предгорных и горных районах местами сильные, налипание мокрого снега, гололёдные явления. 3 и 5 ноября Северную Осетию, Карачаево-Черкесию ожидают сильные осадки в виде дождя, мокрого снега и снега с метелью и ветром в горах до 22-27 м/с. Резкое ухудшение погодных условий ожидается 3-5 ноября в Ставропольском крае: 3 ноября осадки в виде дождя и мокрого снега, местами сильные, западный ветер усилится до 15-20 м/с, в северной части – до 20-25 м/с.  5 ноября снова сильные осадки (дождь, мокрый снег) будут сопровождаться  ветром  16-20 м/с, в северной части и юго-восточных районах - 22-27 м/с.  3 ноября понижение температуры воздуха ночью до +2...+7, днем до +4...+9, 4 ноября - дальнейшее понижение ночной температуры до 0...-5.
    </p>
    <p class="text-item" style="text-indent: 25px;">
        3 ноября и в течение суток 4 и 5 ноября местами в предгорных и горных районах Кабардино-Балкарии задует очень сильный южный, юго-восточный ветер до 30 м/с.  Ветер со скоростью 17-23 м/с будет отмечаться 2 ноября в Луганской Народной Республике, 4 ноября - в Донецкой Народной Республике и в Запорожской области; 4-5 ноября составит 24 м/с в Калмыкии.
    </p>
    <p class="text-item" style="text-indent: 25px;">В  течение суток 2-4 ноября над Черным морем в районе Джубга – Магри Краснодарского края имеется опасность формирования смерчей.</p>
    <p class="text-item" style="text-indent: 25px;">Температурный фон на юге России будет пониженным, 3 ноября похолодает по всему региону. С 4 по 7 ноября аномалия максимальной температуры воздуха на юге России составит -1…-5 градусов. Так, например, в Ставрополье намечается понижение температуры воздуха 3 ноября ночью до +2...+7, днем до +4...+9, 4 ноября - дальнейшее понижение ночной температуры до 0...-5. В Карачаево-Черкесии ночью 3 ноября термометры покажут 0...+5, в горах 0...-5 градусов, днем +1...+6, в горах -3...+2; 4 ноября ночью будет -1...-6, в горах -7...-12 градусов.</p>
    <p class="text-item" style="text-indent: 25px;">В Южном округе 4-5 ноября термометры ночью покажут -2...+3, при прояснениях до -7 градусов, в горных районах
        0…-5, 5 ноября в Астраханской области +1...+6; днем -1...+4, местами до +9, 4 ноября в Краснодарском крае и Адыгее до + 12, 5 ноября в северных районах -3...+2.</p>
    <p class="text-item">
        <strong> В центральных областях в праздничный день погода зимняя </strong>
    </p>
    <p class="text-item" style="text-indent: 25px;">
        4 ноября через Центральный федеральный округ (ЦФО) с северо-запада на юг, юго-восток будет перемещаться активный циклон...

    4 ноября в большинстве центральных областей ожидаются осадки в виде снега и мокрого снега, местами сильный снег (7-12 мм осадков в водном эквиваленте), установление временного снежного покрова высотой 4-7 см, местами до 12 см.

    В большинстве областей ветер будет усиливаться порывами 15-20 м/с, днем на юге Центрального округа до 23 м/с. На севере округа в отдельных районах ожидается метель, на западе и в южной половине налипание мокрого снега, гололедные явления. Местами гололедица.

    Преобладающая температура воздуха ночью -6…1°, днем -3…2°, на юге до 6°. В Москве и Московской области 4 ноября. Облачно. Снег, по области, местами сильный. Tемпература ночью в Москве -3...-1°, по области -6...-1°, днем в Москве -1...1°, по области -3...2°. Ветер южный с переходом на северный 6-11 м/с, местами с порывами до 17 м/с. Местами гололедица.
    </p>
    <a class="button_n" href="{% url 'home' %}">Вернуться на Главную</a>
</body>
</html>